---
title: EV Track Records ⚡ evtrackrecords.com 
layout: default.njk
---
<ul role="list" class="space-y-3">
  <li class="bg-white shadow overflow-hidden rounded-md px-6 py-4">
    <h2 class="text-xl font-bold mb-4">Circuit of the Americas - Austin, TX</h2>
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Driver</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Lap Time</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Vehicle</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Lap Data</th>    
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Lap Video</th>                          
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Event</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Build Thread / Mod List</th>
                </tr>
              </thead>
              <tbody>
                {% for lap, val in tracks.cota %}
                <tr>{% lapEntry val %}</tr>
                  {# embedded in lapEntry Nunjucks Short Code
                    {% if val.InstagramUsername %}
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"><a href="https://instagram.com/{{ val.InstagramUsername }}">{{ val.Driver }}</a></td>
                  {% else %}
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ val.Driver }}</td>
                  {% endif %}
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-mono">{{ val.LapTime }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-mono">{{ val.Date }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-mono">{{ val.Vehicle }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-mono">{{ val.CarName }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-mono">
                    {% if val.LapData %}
                    <a href="{{ val.LapData }}">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7 3s-7-1.343-7-3z" />
                        <path d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657 3 7z" />
                        <path d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7 3z" />
                      </svg>
                    </a>
                    {% endif %}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-mono">
                    {% if val.LapVideo %}
                    <a href="{{ val.LapVideo }}">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z" />
                      </svg>
                    </a>
                    {% endif %}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-mono">{{ val.CompClass }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 font-mono">
                    {% if val.LapData %}
                    <a href="{{ val.Modifications }}">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>                    
                    </a>
                    {% endif %}
                  </td> #}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="bg-white shadow overflow-hidden rounded-md px-6 py-4">
    <h2 class="text-xl font-bold mb-4">WeatherTech Raceway Laguna Seca - Salinas, CA</h2>
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Driver</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Lap Time</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Vehicle</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Lap Data</th>    
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Lap Video</th>                          
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Event</th>
                  <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Build Thread / Mod List</th>
                </tr>
              </thead>
              <tbody>
                {% for lap, val in tracks.laguna_seca %}
                <tr>{% lapEntry val %}</tr>
                {% endfor %}               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>


